@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');

:root {
    --blue01: #021E73;
    --blue02: #0367A6;
    --blue03: #083A59;
    --blue04: #05DBF2;
    --blue05: #05F2F2;
    --font: 'Signika';
}

* {
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    padding: 10px;
    font-family: var(--font);
    list-style-type: none;
    background: rgba(5, 218, 242, 0.363);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(5, 218, 242, 0);
}

.nav li {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
    color: white;    
}

.nav h3 {
    font-weight: lighter;
    color: var(--blue03);
}

.nav li a {
    text-decoration: none;    
    text-transform: uppercase;
    color: white;
    overflow: hidden;    
}

.link {
    position: relative;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(to right, var(--blue02), var(--blue05));
    bottom: 6px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.input {
    width: auto;
    height: auto;
    padding-top: 15px;
    padding-bottom: -15px;
}

.avatar {
    width: 20%;  
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.avatar:hover {
    transform: scale(1.2);
    transition: transform .3s ease-in-out;
}

body {
    background-color: var(--blue03);
    font-family: var(--font);
}

main {
    min-width: 300px;
    max-width: 800px;
    height: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--blue02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding-top: 0;
}

.language {
    border: 1px solid black;    
    width: 50px;
    height: 50px;
    padding: auto;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    margin-top: 20px;    
    position: relative;
    overflow: hidden;
}

.language:hover {
    border: 2px solid white;    
    outline-offset: 10px;
    box-shadow: 0 0 0 2px black inset;
    box-sizing: border-box;
}

#html {
    background-color: #F16524;
}

#css {
    background-color: #29A9DF;
}

#javascript {
    background-color: #F7DF1E;
}


h1 {
    text-align: center;
    font-size: 1.8em;
    margin: 10px;
    padding: 10px;
    color: white;
}

p {
    text-align: justify;
    color: white;
}

footer {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--blue02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    border-radius: 10px 10px 10px 10px;       
}

footer p {
    text-align: center;
    text-decoration: none;
    color: white
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    cursor: pointer;
    color: var(--blue03);
}

.author {
    text-decoration: none;
}